# Default ignored files
/shelf/
/workspace.xml
/Intermediate
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ToolExample.iml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\zacharyou\Documents\Unreal Projects\ToolExample\.idea\.idea.ToolExample\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
